<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="main">


    <div id="header">
        <div class="logo">
            <h1>recognise.<span>me</span></h1>
        </div>
        <div class="nav-link">
            <a href="#">Register</a>
            <a href="#">Docs</a>
            <a href="#">API</a>
            <a href="#">About</a>
        </div>
    </div>

    <div id="demo-hero">
        <div class="demo-img">
            <img src="../static/media/66dc33e0-d871-49e8-98c8-7a598f5ec9d8.jpeg" alt="">
            <p>Drop File Here <br> or use the <a href="#">new</a> Button</p>
           
        </div>
        
    </div>

    </div>
</body>
</html>