<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="main">

    <button id="add-img" class="color-btn"><i class="fa-solid fa-plus"></i></button>
    
    <div id="label" class="section-p1">
        <div class="card">
            <img src="../static/media/hero1.jpg" alt="">
            <div id="add-label">
                <button  type="submit"  class="color-btn" id="label-btn">Add Label Here</button>
                <input type="text" name="" class="active" id="label-input">
        </div>
        


        <button id="save-img" class="color-btn"><a href="">Save</a></button>
    </div>

    </div>

    <script src="https://kit.fontawesome.com/8bc00e6a4e.js" crossorigin="anonymous"></script>

    <script src="../static/js/app.js"></script>
</body>
</html>