<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div id="main">


    <div id="header">
        <div class="logo">
            <h1>recognise.<span>me</span></h1>
        </div>
        <div class="nav-link">
            <a href="#">Register</a>
            <a href="#">Docs</a>
            <a href="#">API</a>
            <a href="#">About</a>
            
        </div>
        <div id="bar"><i class="fa-solid fa-bars"></i></div>
       <div id="xbar"> <i class="fa-solid fa-x"></i></div>
    </div>

    <div id="hero" class="section-p1">
        <div class="hero-left">
            <h1>Lorem ipsum dolor sit.</h1>
            <p>Face Recognise API Description Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur sed reprehenderit in ex molestias animi molestiae reiciendis ea vero. Magnam veritatis beatae praesentium delectus, distinctio ducimus ex exercitationem eligendi rerum?
            </p>
            <button type="submit" class="color-btn">Try Recognise Me</button>
        </div>
        <div class="hero-right" >
        </div>
    </div>

    </div>

    <script src="https://kit.fontawesome.com/8bc00e6a4e.js" crossorigin="anonymous"></script>

    <script src="../static/js/app.js"></script>
</body>
</html>